@import-normalize;
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
  // Colors
  --dark: #0d1219;
  --dark-secondary: #1b293c;
  --bluish: #eef;
  --violet: #323edd;
  --violetish: #656cce;
  --white: #fff;
  --white-secondary: #eee;
  --grey: #868e95;
  --shadow: 0.1rem 0.1rem 1rem 0.2rem var(--white-secondary);
  --btn-shadow: 0.1rem 0.1rem 0.8rem 0.1rem var(--grey);

  --bg: var(--white);
  --bg-invert: var(--dark);
  --color: var(--dark);
  --color-invert: var(--white);
  --table-header-bg: var(--bluish);

  // Fonts
  --font-24: 1.5rem;
  --font-16: 1rem;
  --font-14: 0.875rem;

  // Spacing
  --s-0_25: 0.25rem;
  --s-0_5: 0.5rem;
  --s-0_75: 0.75rem;
  --s-1: 1rem;
}

* {
  box-sizing: border-box;
}

html {
  font-size: var(--font-16);
}

@media only screen and (max-width: 599px) {
  html {
    font-size: var(--font-14);
  }
}

body {
  margin: 0;
  background: var(--bg);
  background-attachment: fixed;
  color: var(--color) !important;
  font-family: 'Roboto', sans-serif, -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: var(--s-1_25);
}

main {
  min-height: 100vh;
}

button {
  font-size: var(--font-14);
  padding: var(--s-0_75) var(--s-1);
  margin: var(--s-0_25) var(--s-0_5);
  background-color: var(--violetish);
  border: 2px solid var(--violetish);
  border-radius: 4px;
  cursor: pointer;
  box-shadow: var(--btn-shadow);
  color: var(--white);
  &:hover {
    background-color: var(--violet);
  }
  &:active {
    box-shadow: none;
    outline: none;
  }
  &:disabled {
    opacity: 0.8;
    cursor: not-allowed;
  }
}

.card {
  margin-bottom: var(--s-1);
  background-color: var(--bg);
  box-shadow: var(--shadow);
  padding: var(--s-1) var(--s-0_75);
  border-radius: 0.4rem;
}

.error {
  color: red;
  font-size: var(--font-24);
}
